################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/2025_10_03/Operatoren/obj
/2025_10_03/.vs/2025_10_03
/.vs
